<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: darkblue; height: auto">
  <div class="container-fluid" style="font-size: 15px">
    <!-- Navbar Left -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/" style="color: white;">
          <i class="fa-solid fa-house nav-icon"></i>
          <span class="d-none d-md-inline">Inicio</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/portal_proveedores/perfilconsulta2025/ingresofacturas" style="color: white;">
          <i class="fa-solid fa-folder-plus nav-icon"></i>
          <span class="d-none d-md-inline">Ingreso de facturas</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/portal_proveedores/perfilconsulta2025/consultas" style="color: white;">
          <i class="fa-solid fa-magnifying-glass nav-icon"></i>
          <span class="d-none d-md-inline">Consulta de facturas</span>
        </a>
      </li>
    </ul>

  </div>
</nav>
