<!-- Main Sidebar Container -->
{% include 'home/modal_confirm.html' %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <div class="brand-link d-flex align-items-center justify-content-center">
      <img height="15" src="/static/image.png">
  </div>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/static/assets/img/user_image.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="info">
        <a href="/logout" class="d-block" style="white-space: normal; word-wrap: break-word;">{{ current_user.name }} <br><small>(Cerrar sesión)</small></a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Buscar en menú" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/portal_proveedores/perfilconsulta2025/consultas" class="nav-link">
            <p>Consulta de facturas</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" id="help-link" class="nav-link">
            <p>Ayuda</p>
          </a>
        </li>
      </ul>
    </nav>

    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->

  <!-- Text at the bottom of the sidebar -->
  <div class="sidebar-footer text-start">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <p class="nav-item" style="border-bottom: 1px solid gray;
  padding-bottom: 10px;">Administrador</p>
          </li>
          <li class="nav-item">
            <p class="nav-link">Ingreso de facturas</p>
          </li>
          <li class="nav-item">
            <p class="nav-link">Consulta de complementos de pago</p>
          </li>
        </ul>
      </nav>

    <p class="text-center" style="font-size: 0.85rem; color: #aaa; margin: 0; margin-top: 40px;">Borgwarner Morse Systems Mexico</p>
  </div>
</aside>

<!-- Inline CSS for footer positioning -->
<style>
/* Make the sidebar take the full height of the screen */
.main-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

/* Make the sidebar content grow, and the footer stick at the bottom */
.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* The footer will be placed at the very bottom */
.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Full width of the sidebar */
  padding: 10px 0;
  background-color: #343a40; /* Optional: can match the sidebar background */
}

.sidebar-footer p {
  margin: 0;
  color: #aaa; /* Text color */
  text-align: center;
  font-size: 0.85rem;
}

</style>
<script src="/static/assets/plugins/jquery/jquery.min.js"></script>
<script>
$(function() {
    $('#help-link').on('click', function(event) {
        event.preventDefault();
        $('#confirmationModal').modal('show');
    });
});
</script>
